# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from textrepo_client.api_client import ApiClient


class ImportApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def import_document_contents_for_file_with_type(self, contents, external_id, type_name, **kwargs):  # noqa: E501
        """Import file as the current version for {typeName} of document referenced by {externalId} without indexing  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.import_document_contents_for_file_with_type(contents, external_id, type_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contents: (required)
        :param str external_id: (required)
        :param str type_name: (required)
        :param bool allow_new_document:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.import_document_contents_for_file_with_type_with_http_info(contents, external_id, type_name, **kwargs)  # noqa: E501
        else:
            (data) = self.import_document_contents_for_file_with_type_with_http_info(contents, external_id, type_name, **kwargs)  # noqa: E501
            return data

    def import_document_contents_for_file_with_type_with_http_info(self, contents, external_id, type_name, **kwargs):  # noqa: E501
        """Import file as the current version for {typeName} of document referenced by {externalId} without indexing  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.import_document_contents_for_file_with_type_with_http_info(contents, external_id, type_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contents: (required)
        :param str external_id: (required)
        :param str type_name: (required)
        :param bool allow_new_document:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contents', 'external_id', 'type_name', 'allow_new_document']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method import_document_contents_for_file_with_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contents' is set
        if ('contents' not in params or
                params['contents'] is None):
            raise ValueError("Missing the required parameter `contents` when calling `import_document_contents_for_file_with_type`")  # noqa: E501
        # verify the required parameter 'external_id' is set
        if ('external_id' not in params or
                params['external_id'] is None):
            raise ValueError("Missing the required parameter `external_id` when calling `import_document_contents_for_file_with_type`")  # noqa: E501
        # verify the required parameter 'type_name' is set
        if ('type_name' not in params or
                params['type_name'] is None):
            raise ValueError("Missing the required parameter `type_name` when calling `import_document_contents_for_file_with_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'external_id' in params:
            path_params['externalId'] = params['external_id']  # noqa: E501
        if 'type_name' in params:
            path_params['typeName'] = params['type_name']  # noqa: E501

        query_params = []
        if 'allow_new_document' in params:
            query_params.append(('allowNewDocument', params['allow_new_document']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'contents' in params:
            local_var_files['contents'] = params['contents']  # noqa: E501

        body_params = None
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/task/import/documents/{externalId}/{typeName}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
